# <center>Pandas Assignment</center>

Import pandas and numpy with their aliases

In [1]:
import pandas as pd
import numpy as np

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [4]:
a = pd.Series([100,200,300,400])

Print a, and data type

In [6]:
print (a)
print (type(a))

0    100
1    200
2    300
3    400
dtype: int64
<class 'pandas.core.series.Series'>

Using indexing access the element 300 from the series a.

In [7]:
print(a[2])

300

What are the values of index for series a?

In [8]:
print (a)

0    100
1    200
2    300
3    400
dtype: int64

Change the index to  ['c', 'a', 'b', 'd']

In [9]:
a.index = ['c', 'a', 'b', 'd']
print(a)

c    100
a    200
b    300
d    400
dtype: int64

Access the value in the series with index 'd'

In [10]:
print(a.loc['d'])

400

Sort the values wrt to the index and print it

In [11]:
a_sorted = a.sort_index()
print(a_sorted)

a    200
b    300
c    100
d    400
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

In [12]:
b = pd.Series([800, 450, 100], index=['e', 'f', 'g'])
print(b)

e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [14]:
 pd.concat([a, b])

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

In [39]:
#print a again after appending b into it

print (a)

c    100
a    200
b    300
d    400
e    800
f    450
g    100
Name: points, dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [16]:
# a =a.sort_values(ascending= False)
print(a)

c    100
a    200
b    300
d    400
dtype: int64

In [17]:
print(a.index)

Index(['c', 'a', 'b', 'd'], dtype='object')

## Pandas DataFrame

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [20]:
df = pd.DataFrame(a)

In [21]:
print(df)

     0
c  100
a  200
b  300
d  400

What is the shape of the datafarme <br>
(also, what does it imply?)

In [22]:
df.shape

(4, 1)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [24]:
# yep its same as the series.

df.index

Index(['c', 'a', 'b', 'd'], dtype='object')

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [36]:
print("Head of the Series:")
print(a.head()) # Prints the first 5 rows of the datasets

print("\nTail of the Series:")
print(a.tail()) # Prints the last 5 rows of the datasets

Head of the Series:
c    100
a    200
b    300
d    400
e    800
Name: points, dtype: int64

Tail of the Series:
b    300
d    400
e    800
f    450
g    100
Name: points, dtype: int64

Rename the column of the dataframe as 'points'

In [38]:
df =df.rename(columns={0:'points'})
print(df)

   points
c     100
a     200
b     300
d     400

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [33]:
#Create fruits array
fruits = pd.Series(random_fruits, name='fruits')

print(fruits)

0     apple
1     apple
2     mango
3     apple
4    orange
5     mango
6    orange
Name: fruits, dtype: object

In [32]:
#Create series fruits out of fruits array

# fruits = pd.series(fruits)
print(fruits)

0     apple
1     apple
2     mango
3     apple
4    orange
5     mango
6    orange
Name: fruits, dtype: object

Change the index of fruits to the index of dataframe df

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

In [48]:
df = pd.DataFrame({'points': [100, 200, 300, 400, 800, 450, 100]},
                  index=['c', 'a', 'b', 'd', 'e', 'f', 'g'])

In [49]:
df['fruits'] = fruits  # Add the 'fruits' Series as a new column
print(df.head())     # Print the head of the DataFrame to verify

   points fruits
c     100    NaN
a     200    NaN
b     300    NaN
d     400    NaN
e     800    NaN

## Pandas Concatenation

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

In [53]:
import pandas as pd

# Create a dictionary with the data
data = {'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'],
        'Temperature': [15, 22, 20, 26, -2]}

Print(d1)

In [54]:
print(d1)

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

What is the shape of d1.

In [56]:
d1.shape

(5, 2)

Set city = d1['city']

In [57]:
city= d1['city']

print city <br>
What is the type of city.

In [58]:
print(city)
print(type(city))

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object
<class 'pandas.core.series.Series'>

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

In [66]:
import pandas as pd

# Create a dictionary for d2
data2 = {'city': ['Bengaluru', 'Coimbatore', 'Srirangam', 'Pondicherry'],
         'Temperature': [24, 35, 36, 39]}

# Create the DataFrame d2
d2 = pd.DataFrame(data2)

print(d2)

          city  Temperature
0    Bengaluru           24
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

print the shape of this dataframe

In [67]:
d2.shape

(4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [69]:
# d3 = pd.concat([d1,d2]), axis =0)

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

In [70]:
import pandas as pd

# Create the DataFrames (assuming you have d1 and d2 from previous steps)
# ...

# Select cities with temperature less than or equal to 20 in d1
d1_selected = d1[d1['Temperature'] <= 20]

# Select cities with temperature less than or equal to 20 in d2
d2_selected = d2[d2['Temperature'] <= 20]

# Combine the selected parts of d1 and d2
combined_selected = pd.concat([d1_selected, d2_selected])

print(combined_selected)

# Count the number of cities
num_cities = len(combined_selected)
print("\nNumber of cities with temperature less than or equal to 20:", num_cities)

         city  Temperature
0  Chandigarh           15
2      Kanpur           20
4      Manali           -2

Number of cities with temperature less than or equal to 20: 3

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [71]:
import pandas as pd

# Create the DataFrames (assuming you have d1 and d2 from previous steps)
# ...

# Select cities with temperature greater than or equal to 35 in d1
d1_selected = d1[d1['Temperature'] >= 35]

# Select cities with temperature greater than or equal to 35 in d2
d2_selected = d2[d2['Temperature'] >= 35]

# Combine the selected parts of d1 and d2
combined_selected = pd.concat([d1_selected, d2_selected])

print(combined_selected)

          city  Temperature
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

## Applying functions to columns and creating new columns

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not.
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [72]:
# write function here
import pandas as pd

# Create the DataFrames (assuming you have d1 and d2 from previous steps)
# ...

# Combine d1 and d2 into a single DataFrame d3
d3 = pd.concat([d1, d2])

# Create a list of union territories
union_territories = ['Chandigarh', 'Pondicherry', 'Delhi']

# Create a new column 'is_union_territory' based on whether the city is in the list
d3['is_union_territory'] = d3['city'].isin(union_territories)

In [73]:
# print d3
print(d3)

          city  Temperature  is_union_territory
0   Chandigarh           15                True
1        Delhi           22                True
2       Kanpur           20               False
3      Chennai           26               False
4       Manali           -2               False
0    Bengaluru           24               False
1   Coimbatore           35               False
2    Srirangam           36               False
3  Pondicherry           39                True

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT -
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [74]:
# write function here
import pandas as pd

# Create the DataFrames (assuming you have d1 and d2 from previous steps)
# ...

# Combine d1 and d2 into a single DataFrame d3
d3 = pd.concat([d1, d2])

# Create a list of union territories
union_territories = ['Chandigarh', 'Pondicherry', 'Delhi']

# Create a new column 'is_union_territory' based on whether the city is in the list
d3['is_union_territory'] = d3['city'].isin(union_territories)

# Define the Celsius to Fahrenheit conversion function
def c_to_f(temp_celsius):
  """Converts temperature from Celsius to Fahrenheit."""
  temp_fahrenheit = (temp_celsius * 9/5) + 32
  return temp_fahrenheit

# Apply the c_to_f function to the 'Temperature' column and create a new column 'Temperature_F'
d3['Temperature_F'] = d3['Temperature'].apply(c_to_f)

print(d3)

          city  Temperature  is_union_territory  Temperature_F
0   Chandigarh           15                True           59.0
1        Delhi           22                True           71.6
2       Kanpur           20               False           68.0
3      Chennai           26               False           78.8
4       Manali           -2               False           28.4
0    Bengaluru           24               False           75.2
1   Coimbatore           35               False           95.0
2    Srirangam           36               False           96.8
3  Pondicherry           39                True          102.2

In [75]:
# check function c_to_f(10)
import pandas as pd

# ... (previous code for creating d3 and c_to_f)

# Check the c_to_f function with 10 degrees Celsius
result = c_to_f(10)
print(result)

50.0

In [76]:
# apply function c_to_f to d3 to create a column 'temp_farenhiet'
import pandas as pd

# Create the DataFrames (assuming you have d1 and d2 from previous steps)
# ...

# Combine d1 and d2 into a single DataFrame d3
d3 = pd.concat([d1, d2])

# Create a list of union territories
union_territories = ['Chandigarh', 'Pondicherry', 'Delhi']

# Create a new column 'is_union_territory' based on whether the city is in the list
d3['is_union_territory'] = d3['city'].isin(union_territories)

# Define the Celsius to Fahrenheit conversion function
def c_to_f(temp_celsius):
  """Converts temperature from Celsius to Fahrenheit."""
  temp_fahrenheit = (temp_celsius * 9/5) + 32
  return temp_fahrenheit

# Apply the c_to_f function to the 'Temperature' column and create a new column 'temp_farenheit'
d3['temp_farenheit'] = d3['Temperature'].apply(c_to_f)

print(d3)

          city  Temperature  is_union_territory  temp_farenheit
0   Chandigarh           15                True            59.0
1        Delhi           22                True            71.6
2       Kanpur           20               False            68.0
3      Chennai           26               False            78.8
4       Manali           -2               False            28.4
0    Bengaluru           24               False            75.2
1   Coimbatore           35               False            95.0
2    Srirangam           36               False            96.8
3  Pondicherry           39                True           102.2

## Indexing and selecting rows in DataFrame

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [77]:
import pandas as pd

# Create the DataFrame d1 (assuming you have it from previous steps)
# ...

# Create a list of union territories
union_territories = ['Chandigarh', 'Pondicherry', 'Delhi']

# Select cities in d1 that are union territories
d1_union_territories = d1[d1['city'].isin(union_territories)]

print(d1_union_territories)

         city  Temperature
0  Chandigarh           15
1       Delhi           22

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [78]:
import pandas as pd

# ... (Assuming you have created d3 in previous steps)

# Select cities in d3 with temperature above 90 Fahrenheit
d3_above_90F = d3[d3['temp_farenheit'] > 90]

print(d3_above_90F)

          city  Temperature  is_union_territory  temp_farenheit
1   Coimbatore           35               False            95.0
2    Srirangam           36               False            96.8
3  Pondicherry           39                True           102.2

Select only the first three rows of the dataframe d1.

In [79]:
import pandas as pd

# Create the DataFrame d1 (assuming you have it from previous steps)
# ...

# Select the first three rows of d1
d1_first_three = d1.head(3)

print(d1_first_three)

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20

Select all the rows and last two columns in the dataframe.

In [80]:
import pandas as pd

# Create the DataFrame (assuming you have it from previous steps)
# ...

# Select all rows and the last two columns
subset = d3.iloc[:, -2:]

print(subset)

   is_union_territory  temp_farenheit
0                True            59.0
1                True            71.6
2               False            68.0
3               False            78.8
4               False            28.4
0               False            75.2
1               False            95.0
2               False            96.8
3                True           102.2

## Groupby

In [88]:
# Create a dataframe using dictionary of your choice
import pandas as pd

# Create a dictionary with data for a movie database
data = {
    'movie_title': ['The Shawshank Redemption', 'The Dark Knight', 'Pulp Fiction', 'The Lord of the Rings: The Return of the King'],
    'release_year': [1994, 2008, 1994, 2003],
    'director': ['Frank Darabont', 'Christopher Nolan', 'Quentin Tarantino', 'Peter Jackson'],
    'genre': ['Drama', 'Action, Crime, Drama', 'Crime, Drama', 'Adventure, Drama, Fantasy']
}

# Create a DataFrame from the dictionary
movies_df = pd.DataFrame(data)

print(movies_df)

                                     movie_title  release_year  \
0                       The Shawshank Redemption          1994
1                                The Dark Knight          2008
2                                   Pulp Fiction          1994
3  The Lord of the Rings: The Return of the King          2003

            director                      genre
0     Frank Darabont                      Drama
1  Christopher Nolan       Action, Crime, Drama
2  Quentin Tarantino               Crime, Drama
3      Peter Jackson  Adventure, Drama, Fantasy

In [89]:
# Use Groupby of single column with aggregate sum()
import pandas as pd

# ... (Assuming you have created movies_df in the previous step)

# Group by 'release_year' and calculate the sum of movies in each year
movies_by_year = movies_df.groupby('release_year')['movie_title'].count()

print(movies_by_year)

release_year
1994    2
2003    1
2008    1
Name: movie_title, dtype: int64

In [90]:
# Use Groupby of single column with aggregate count()
import pandas as pd

# ... (Assuming you have created movies_df in the previous step)

# Group by 'release_year' and count the number of movies in each year
movies_by_year = movies_df.groupby('release_year')['movie_title'].count()

print(movies_by_year)

release_year
1994    2
2003    1
2008    1
Name: movie_title, dtype: int64

In [91]:
# Use Groupby of single column with aggregate min() and max()
import pandas as pd

# ... (Assuming you have created movies_df in the previous step)

# Group by 'release_year' and find the earliest and latest release years
min_year = movies_df.groupby('release_year')['release_year'].min()
max_year = movies_df.groupby('release_year')['release_year'].max()

print("Earliest release year in each group:")
print(min_year)

print("\nLatest release year in each group:")
print(max_year)

Earliest release year in each group:
release_year
1994    1994
2003    2003
2008    2008
Name: release_year, dtype: int64

Latest release year in each group:
release_year
1994    1994
2003    2003
2008    2008
Name: release_year, dtype: int64

In [92]:
# Use Groupby of any 2 columns with aggregate mean()
import pandas as pd

# Create a DataFrame with student data
student_data = {
    'student_id': [1, 2, 3, 4, 5, 6],
    'course': ['Math', 'Science', 'Math', 'Science', 'English', 'English'],
    'score1': [85, 78, 92, 65, 70, 88],
    'score2': [90, 82, 87, 73, 75, 92]
}
student_df = pd.DataFrame(student_data)

# Group by 'course' and 'student_id' and calculate the mean of scores
mean_scores = student_df.groupby(['course', 'student_id'])[['score1', 'score2']].mean()

print(mean_scores)

                    score1  score2
course  student_id
English 5             70.0    75.0
        6             88.0    92.0
Math    1             85.0    90.0
        3             92.0    87.0
Science 2             78.0    82.0
        4             65.0    73.0

In [93]:
# Use Groupby of any 2 columns with aggregate min() and max()
import pandas as pd

# ... (Assuming you have created the student_df DataFrame in the previous step)

# Group by 'course' and 'student_id' and find min and max scores
min_scores = student_df.groupby(['course', 'student_id'])[['score1', 'score2']].min()
max_scores = student_df.groupby(['course', 'student_id'])[['score1', 'score2']].max()

print("Minimum scores for each student in each course:")
print(min_scores)

print("\nMaximum scores for each student in each course:")
print(max_scores)

Minimum scores for each student in each course:
                    score1  score2
course  student_id
English 5               70      75
        6               88      92
Math    1               85      90
        3               92      87
Science 2               78      82
        4               65      73

Maximum scores for each student in each course:
                    score1  score2
course  student_id
English 5               70      75
        6               88      92
Math    1               85      90
        3               92      87
Science 2               78      82
        4               65      73