<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Basics<br></h3>

In [7]:
# What is your name! print your name!
# Only use one print function
name='Amrit Kumar Prasad'
print (name)

Amrit Kumar Prasad

* `()` <= `Parentheses`
* `''` <= `Single Quotes`
* `""` <= `Double Quotes`
* `\n` <= `New_line `
* `#` <= `Used to comment inside code`

In [2]:
# define variables named as with values: mukesh=7, z=6, rohan=5, longitude=4
mukesh = 7
z = 6
rohan = 5
longitude = 4

In [5]:
# print required variable
# output - 5
print(rohan)

5

Variable Assignment:
**`Variable_Name = Value`**

Variables Naming Rules:
* `Python is case-senstive` => x=5 is different from X=5 (one is lowe and other is upper case)
* `var name can't start with special character except underscore(_)` => _X = 7 is `valid`, @X = 7 is `invalid`
* `var name can't start with number` => 9X = 7 is `invalid`, X9 = 7 is `valid`
* can't use `keywords` as a variable name
    *

# **`Declaring a Variable`** <br>

In [5]:
# declare 4 variables with values as: ur_age 21,ur_weight 50.6, ur_first_name = 'Mukesh',ur_last_name = "Manral"
ur_age = 21
ur_weight = 50.6
ur_first_name = 'Mukesh'
ur_last_name = "Manral"

# **`Data Type(Type of variable)`**

| Name | Type | Description |
| ---- | ---- | ----|
|Integers | int | Integer number, like 34,-56 ...|
|Float | float | Decimal number, like 3.4,-5.6 ...|
|String| str | Ordered sequence of characters, like 'your name' |
|Boolean |bool |Logical values indicating True or False only |

In [ ]:
# print type of ur_age,ur_weight,ur_first_name,ur_last_name variables
print(type(ur_age))
print(type(ur_weight))
print(type(ur_first_name))
print(type(ur_last_name))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [ ]:
# print values of ur_age,ur_weight,ur_first_name,ur_last_name variables
print(ur_age)
print(ur_weight)
print(ur_first_name)
print(ur_last_name)

21
50.6
Mukesh
Manral

In [ ]:
# make 2 variables with values as: ur_first_name 'Mukesh',ur_last_name'Mukesh'

# make a variable TrueOrFalse which will have comparison of variables ur_last_name == ur_first_name

ur_first_name = 'Mukesh'
ur_last_name = 'Mukesh'

In [ ]:
TrueOrFalse = (ur_last_name == ur_first_name)
print(TrueOrFalse)

True

In [ ]:
# define a variable name "x" and assign value 777 and print it
x = 777
print(x)

777

* To view some data on screen, python have `print` function
    * Using `print` function we can control view on output screen

In [ ]:
print("Name:", "Mukesh", "Age:", 21)

Name: Mukesh Age: 21

`Operators`: Symbols that represent mathematical or logical tasks

Example:<br>
`700` `+` `77`<br>
* `+` <= Operator
* `700` & `77` <= Operands

In [ ]:
# Initialize variables [x,y,z,zz] with values
## x as 7 =>int ,
## y as 77 =>int,
## z as 77.7 => float,
## zz as 'Hi' => string
x = 7      # int
y = 77     # int
z = 77.7   # float
zz = 'Hi'  # string

# **`Arithmetic Operators`**

In [ ]:
# add x and z
x = 7      # int
z = 77.7   # float

result = x + z
print(result)

84.7

In [ ]:
# subtract z and y
y = 77     # int
z = 77.7   # float

result = z - y
print(result)

0.7000000000000028

In [ ]:
# Multiply x and z
x= 77
Z= 77

result= x * z
print(result)

5982.900000000001

In [ ]:
# Exponent (raise the power or times) x times z
x = 7      # int
z = 77.7   # float

result = x ** z  # exponentiation operator
print(result)

4.614426248242042e+65

In [ ]:
# division on x and z
x = 7      # int
z = 77.7   # float

result = x / z  # division operator
print(result)

0.09009009009009009

`//` => divides and returns integer value of quotient
* It will dump digits after decimal

In [ ]:
# floor division(ignores decimal) on x and z (gives quotient)
x = 7      # int
z = 77.7   # float

result = x // z  # floor division operator
print(result)

0.0

In [ ]:
# Modulo(gives remainder) on x and z
x = 7      # int
z = 77.7   # float

result = x % z  # modulo operator
print(result)

7.0

# **`Comparison Operators`**

In [ ]:
# comapre and see if x is less then z
# can use '<' symbol
x = 7      # int
z = 77.7   # float

result = x < z  # comparison using '<' operator
print(result)

True

In [ ]:
# check the type of above comaprison where it says comapre and see if x is less then z
x = 7      # int
z = 77.7   # float

result = x < z  # comparison using '<' operator
print(result)
print(type(result))  # check the type of the comparison result

True
<class 'bool'>

* `Bool` => takes two values, either `True` or `False`

In [ ]:
# compare and see if x is less then or equall to z
# can use '<=' symbol
x = 7      # int
z = 77.7   # float

result = x <= z  # comparison using '<=' operator
print(result)  # prints: True
print(type(result))  # check the type of the comparison result, prints: <class 'bool'>

True
<class 'bool'>

In [3]:
# comapre and see if x equall to z
# can use '==' symbol
x = 7      # int
z = 77.7   # float

result = x == z  # comparison using '==' operator
print(result)  # prints: False
print(type(result))  # check the type of the comparison result, prints: <class 'bool'>

False
<class 'bool'>

In [6]:
# comapre and see if x is greater than z
# can use '>' symbol
x = 7      # int
z = 77.7   # float

result = x > z  # comparison using '>' operator
print(result)

False

In [7]:
# comapre and see if x is greater than or equall to z
# can use '>=' symbol
x = 7      # int
z = 77.7   # float

result = x >= z  # comparison using '>=' operator
print(result)

False

In [8]:
# comapre and see if x is Not equall to z
# can use '!=' symbol
x = 7      # int
z = 77.7   # float

result = x != z  # comparison using '!=' operator
print(result)

True

# **`Logical Operators`**

In [10]:
# compare if 108 is equall to 108, 21 is equall to 21 using logical and
# equall to => '=='
# logical and => and

# in and both condition must be True to get a True
result = (108 == 108) and (21 == 21)
print(result) # Output: True

True

In [13]:
# how above condition can give False as output show all those conditions
result = (108 == 109) and (21 == 21)  # 108 is not equal to 109
print(result)  # Output: False
result = (108 == 108) and (21 == 22)  # 21 is not equal to 22
print(result)  # Output: False
result = (108 == 107) and (21 == 20)  # Both comparisons are False
print(result)  # Output: False

False
False
False

In [14]:
# compare if 108 is equall to 108, 21 is equall to 11 using logical or
# equall to => '=='
# logical or => or

# in or Only one condition need to be True to get a True
result = (108 == 108) or (21 == 11)
print(result) # Output: True

True

In [ ]:
# this is for you to understand it
(108 == 108) or (21 == 11) or (108 <= 11)

True

In [15]:
result = (108 == 108) or (21 == 11) or (108 <= 11)
print(result)  # Output: True

True

# **`if`--- `else`** => to handle single condition <br>
# **`if`--- `elif`--- `else`** => to handle Multiple condition

`Observe in Python code:`
* `if` => statement in python
* `else` => statement in python
* `:` => colon => denotes start of if block i.e. any line written after colon belong to if condition
* `....` => see then as indentation i.e. 4 spaces => indentation indicates all code belong to only if and then another indentation indicates code for only else block

In [16]:
# make variable with value as : money 100000

# see output of money > 2000
money = 100000
result = money > 2000
print(result) # Output: True

True

In [17]:
# assign money variable value of 10000
##### say you have this much ammount in your account

# start of if condition
# if money is greater then 1000 which is data science course free
# if money > 1000 is false i.e. you have less money then 1000 in your account then else will work for now only if is working
money = 10000  # You have this much in your account

if money > 1000:
  print("You can afford the free data science course!")
else:
  print("You don't have enough money for the course.")

You can afford the free data science course!

In [ ]:
# take a test_score variable with 80 in it.

# if test_score greater then 80 then print A grade
# elif test_score greater then 60 and less then 80 print B grade
# else print Nothing for you

In [18]:
test_score = 80

if test_score > 80:
  print("A grade")
elif test_score > 60 and test_score <= 80:
  print("B grade")
else:
  print("Nothing for you")

B grade

# **`Python Loops`**

In [ ]:
"""
for iterating_variable in sequence:
    statement(s)
"""

'\nfor iterating_variable in sequence:\n    statement(s)\n'

In [9]:
for iterating_variable in range(10):
    print(iterating_variable)

0
1
2
3
4
5
6
7
8
9

In [19]:
# print 'I love sports' 10 times using for loop
for i in range(10):
  print("I love sports")

I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports

`10` => `stoping criteria` of, for loop

* `in` => keyword
* `sequence` => on which to itterate
* `:` => colon , start of for loop

`!=` = not equall to => `behaves as a stoping criteria`

In [ ]:
# Syntax of while loop
"""
while comparison:
    statements(s)
"""

'\nwhile comparison:\n    statements(s)\n'

In [20]:
# while loop

# save 0 in variable number

# print till 10 using while loop
number = 0

while number <= 10:
  print(number)
  number += 1

0
1
2
3
4
5
6
7
8
9
10

* Initialized variable `number = 0` and then increment it's value in each iteration
* Loop will only continue to run only if value is less than 10

# **`Type of Jump Statements`** <br>
`Break Statement`
`Continue Statement`

# **`Break Statement`**

In [21]:
# example that uses break statement in a for loop

# take range(10) and print 'The number is' + value
# break when num equals 5
for num in range(10):
  if num == 5:
    break  # Exit the loop when num is 5
  print('The number is', num)

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4

# **`Continue Statement`**

In [ ]:
# Using same `for loop program` as in Break Statement section above
# Use a continue statement rather than a break statement

# take range(10) and print 'The number is' + value
# continue when num equals 5

In [22]:
for num in range(10):
  if num == 5:
    continue  # Skip to the next iteration when num is 5
  print('The number is', num)

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 6
The number is 7
The number is 8
The number is 9

# **`String Manipulation`**

In [ ]:
string_ = '' or "" or """ """

In [24]:
# define a string variable with "We are creating next generation data science eco-system at CollegeRanker"
my_string = "We are creating next generation data science eco-system at CollegeRanker"

In [25]:
# Find length of string including spaces
length = len(my_string)
print(length)

72

In [26]:
# Access characters in a string with indexing i.e string[0]
first_character = my_string[0]
print(first_character)  # Output: W

W

In [27]:
# Access characters with negative indexing i.e string[-1]
last_character = my_string[-1]
print(last_character)  # Output: r

r

# String Slicing

In [28]:
# select string from first to 6th element i.e string[:6]
substring = my_string[:6]
print(substring)  # Output: We are

We are

In [29]:
# select string from 7th to negative 10th element i.e string[7:-10]
substring = my_string[7:-10]
print(substring)  # Output: creating next generation data scien

creating next generation data science eco-system at Col

Count of a particular `character` in a string

In [30]:
count_e = my_string.count('e')
print(count_e)

13

Count of a particular `sub-string` in a string

In [31]:
count_data = my_string.count('data')
print(count_data)

1

Find a substring in string using `find` and `index` function

In [32]:
# .find() => if present it will return starting index, not found then it will return -1
# .index() => if present it will return starting index, not found then it will give error
index_of_data = my_string.find('data')
print(index_of_data)  # Output: 27

index_of_xyz = my_string.find('xyz')
print(index_of_xyz)  # Output: -1 (not found)
index_of_science = my_string.index('science')
print(index_of_science)  # Output: 32

32
-1
37

In [35]:
### Checking whether string `startswith` or `endswith` a particular substring or not

In [34]:
starts_with_we = my_string.startswith('We')
print(starts_with_we)  # Output: True

starts_with_hello = my_string.startswith('Hello')
print(starts_with_hello)  # Output: False
ends_with_ranker = my_string.endswith('Ranker')
print(ends_with_ranker)  # Output: True

ends_with_world = my_string.endswith('world')
print(ends_with_world)  # Output: False

True
False
True
False

In [36]:
### Converting string to upper case ###
uppercase_string = my_string.upper()
print(uppercase_string)

WE ARE CREATING NEXT GENERATION DATA SCIENCE ECO-SYSTEM AT COLLEGERANKER

In [37]:
### Converting only first character of string to upper case
capitalized_string = my_string.capitalize()
print(capitalized_string)

We are creating next generation data science eco-system at collegeranker

In [38]:
### Checking if string is in lower case or upper case
is_lowercase = my_string.islower()
print(is_lowercase)  # Output: False
is_uppercase = my_string.isupper()
print(is_uppercase)  # Output: False

False
False

In [39]:
### Checking if string is digit, alpabetic, alpha-numeric
is_digit = my_string.isdigit()
print(is_digit)  # Output: False
is_alpha = my_string.isalpha()
print(is_alpha)  # Output: False
is_alphanum = my_string.isalnum()
print(is_alphanum)  # Output: False

False
False
False

In [40]:
# assign "C++ is easy to learn" to a new_str variable
new_str = "C++ is easy to learn"

In [41]:
### Replace C++ with Python
updated_str = new_str.replace("C++", "Python")
print(updated_str)  # Output: Python is easy to learn

Python is easy to learn

In [42]:
### Use Split function on new_str ###
words = new_str.split()
print(words)  # Output: ['C++', 'is', 'easy', 'to', 'learn']

['C++', 'is', 'easy', 'to', 'learn']

# **`Python Functions`**

In [ ]:
"""
def function_name():
    stetement(s)
"""

'\ndef function_name():\n    stetement(s)\n'

In [48]:
def welcome_message(name):
  print(f"Welcome to Functions, {name} !!!")

# Example usage
welcome_message("Amrit")  # Output: Welcome to Functions, User !!!

Welcome to Functions, Amrit !!!

In [44]:
# call a function with your name
welcome_message("Amrit")

Welcome to Functions, Amrit !!!

* `def` Keyword marking start of function
* `function name` to uniquely identify function
    * `function naming` follows same `rules of writing identifiers`
* `parameters`(arguments) to pass values to a function => totally optional
* `()` paranthesis
* `colon (:)` start of function
* `documentation string`(docstring) describe's what function does => totally optional
* `return statement` returns a value from function => totally optional
* inside colon is `function definition` it should always be present before function call or get an error

In [49]:
# Write a function to add two number which are as 3 and 4
# in total variable store adition of 3 + 4
# print total variable
def add_numbers():
  num1 = 3
  num2 = 4
  total = num1 + num2
  print(total)

add_numbers()  # Call the function to execute it

7

# ***`Positional Arguments`***
Most arguments are identified by their position in function call
* Say `print(x,y)` will give different results from `print(y,x)`

What ever sequence is given while defining a function values must be taken in that sequence only
* Otherwise use argument name **`(keyword arguments)`** to take values
* We first define `positional argument` and then `keyword arguments`

In [50]:
## Create substraction_function(small_number,large_number) and return difference between large_number and small_number
def subtraction_function(small_number, large_number):
  difference = large_number - small_number
  return difference

# Example usage
result = subtraction_function(3, 7)
print(result)  # Output: 4

4

In [51]:
# pass arguments in right order
result = subtraction_function(3, 7)  # Correct order: smaller number first, then larger
print(result)  # Output: 4

4

In [ ]:
# always pass arguments using there name(keyword arguments) then order does not matter

In [52]:
result1 = subtraction_function(large_number=7, small_number=3)
print(result1)  # Output: 4

result2 = subtraction_function(small_number=3, large_number=7)
print(result2)  # Output: 4 (same result, order doesn't matter)

4
4

# ***`Scope of Variables`*** means that part of program where we can access particular variable
* `Local Variable` => variables defined inside a function and can be only accessed from inside of that particular function
* `Global Variable` => variables defined outside a function and can be accessed throughout program

Let's define a global variable, `"global_variable"` outside function
* We will return its value using a function `"randome_function"` and see that we would be able to access its value using that function also

In [ ]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # accessing variable which is outside of this function
    return global_variable

In [ ]:
random_function()

'variable outside of function'

`See we can acess the data of golbal variable from Inside of the Function`

# **`=> Let's see what will happen if we try to change value of global variable from Inside of the Function`**

In [54]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # changing value of global variable from inside of the function
    global_variable = 'changing variable outside of function from inside of function'
    # accessing variable which is outside of this function
    return global_variable

In [55]:
print(random_function())
print(global_variable)

changing variable outside of function from inside of function
variable outside of function