<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a=[]

In [2]:
# print the value of a
print (a)

[]

In [ ]:
# print the type of a
print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [ ]:
# Create the list
languages = ['R', 'Python', 'SAS', 'Scala', 42]

# Print the value of the list
print(languages)

['R', 'Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [ ]:
# Create the list
languages = ['R', 'Python', 'SAS', 'Scala', 42]

# Print the number of elements in the list
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [ ]:
# Create the list
languages = ['R', 'Python', 'SAS', 'Scala', 42]

# Iterate and print each element in the list
for language in languages:
    print(language)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [ ]:
# Create the list
languages = ['R', 'Python', 'SAS', 'Scala', 42]

# Select the second item and store it in a new variable
temp = languages[1]

# Print the value of temp
print(temp)

Python

Print the value of temp and type(temp)

In [ ]:
# Create the list
languages = ['R', 'Python', 'SAS', 'Scala', 42]

# Select the second item and store it in a new variable
temp = languages[1]

# Print the value of temp
print(temp)

# Print the type of temp
print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [ ]:
# Create the list
languages = ['R', 'Python', 'SAS', 'Scala', 42]

# Append the element 'Java' to the list
languages.append('Java')

# Print the updated list
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [ ]:
# Create the list
languages = ['R', 'Python', 'SAS', 'Scala', 42, 'Java']

# Remove the element 42 from the list
languages.remove(42)

# Print the updated list
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [3]:
colors = ['Red','Blue', 'White']

Append the element 'Black' to colors

In [4]:

colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [6]:
colors.insert(1,'Orange')

Print the list

In [7]:
colors

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [8]:
colors2 = ['Grey', 'Sky' ,'Blue']

Add the elements of colors2 to colors using extend function in the list

In [9]:
colors.extend(colors2)

Print len of colors and its elements

In [10]:
elements = len(colors)
print(elements)

8

Sort the list and print it.

In [12]:

colors.sort()
colors

['Black', 'Blue', 'Blue', 'Grey', 'Orange', 'Red', 'Sky', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [13]:
sent = 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [14]:
words = sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

In [15]:
l_words = [word.lower() for word in words]
print(l_words)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [16]:
words.count('country')

0

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [17]:
l_words.remove('the')
print(l_words)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [19]:
x4 = l_words[:4]
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

In [20]:
# print x4
x4

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [21]:
joined = '_'.join(x4)
print(joined)

coronavirus_caused_lockdowns_around

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [22]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [25]:

element = len(stud_grades)
print(element)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [26]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [27]:

stud_grades_set

{'A', 'B', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [28]:

print("type(stud_grades : ", type(stud_grades))
print("type(stud_grades_set : ", type(stud_grades_set))

type(stud_grades :  <class 'list'>
type(stud_grades_set :  <class 'set'>

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [29]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [30]:
stud_grades_set.add('F')
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [31]:
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [32]:
elemn = len(stud_grades_set)
print("elemn : " , elemn)
print("stud_grades_set : ", stud_grades_set)

elemn :  4
stud_grades_set :  {'C', 'G', 'A', 'B'}

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [33]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [35]:
print(colors)
print(fruits )

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [36]:
colors_set = set(colors)
fruits_set = set(fruits)
print(colors_set)
print(fruits_set)

{'red', 'orange', 'blue'}
{'orange', 'apples', 'grapes'}

Find the union of both the sets.

In [37]:
print(colors_set.union(fruits_set))

{'red', 'orange', 'blue', 'grapes', 'apples'}

Find the intersection of both the sets

In [38]:
print(colors_set.intersection(fruits_set))

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [39]:
print(fruits_set.difference(colors_set))

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [40]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [41]:

for i in temp:
    print(i)

17
Virat
50.0

replace first element with 11 in temp

In [42]:
temp.remove(17)
temp.insert(0,11)
temp

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [43]:
temp1 = tuple(temp)
temp1

(11, 'Virat', 50.0)

Iterate through temp1 and print all the items in temp1.

In [44]:
for i in temp1:
    print(i)

11
Virat
50.0

replace first element with 17 in temp1

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [45]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [47]:
first_city = city[0]
print(first_city)

Bangalore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [49]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [50]:
cities = city + city2

Print cities

In [51]:
print(cities)

('Bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [52]:
type(cities[0])

str

print the type of cities

In [53]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [54]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [56]:
print(d["actor"])

amir

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [57]:
actor = d["actor"]

Print the type of actor

In [58]:
type(actor)

str

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [59]:
list = d["list"]

Print the type of List.

In [60]:
type(list)

list

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [61]:
d1 = {'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [62]:
d.update(d1)

print d

In [63]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [64]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [65]:
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [66]:
for key, value in d.items():
    print(f"{key} '-->', value")

actor '-->', value
animal '-->', value
earth '-->', value
list '-->', value
singer '-->', value
album '-->', value
genre '-->', value

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [67]:

sent = 'Coronavirus Caused Lockdowns Around The World.'
char_count = {}
for char in sent:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

In [68]:
print(char_count)

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1}